li{
    padding: 10px;
}

.contenedor{
    padding: 20px;
    display: flex;
    align-content: space-between;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
    border-radius: 8px 8px 8px 8px;
}

.info{
    margin-left: 40px;
}

.twitter{
    color: #0e7090;
}

img{
    border-radius: 50%;
}